@import '~flexstyl/flex'

shadow()
  box-shadow: 0 .1em .2em rgba(#000, .4)

:host
  shadow()
  flex styl
  flex center
  flex column
  background #fff

p
  margin .5em
  margin-left: auto;

input, button
  shadow()
  border 0
  margin .5em
  padding: 1em
  outline: none

button
  cursor pointer
  background none
