@import '~flexstyl/flex'
color = lightgreen

:host
  flex styl
  align end
  margin .5em
  padding .25em
  background: #fff
  list-style-type: none
  border .2em solid color

  li
    width: .2em
    background: color
    border: .1em solid #fff
